.landing-wrapper #introduction {

    background-image: url("#{resource['taalmaan:images/taalmaan.jpg']}");
}
.landing-wrapper .landing-header {
    height: 56px;

    background: rgba(62,39,35,0.7);
    background: -moz-linear-gradient(left, rgba(62,39,35,0.7) 0%, rgba(41,35,34,0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(62,39,35,0.7)), color-stop(100%, rgba(41,35,34,0.7)));
    background: -webkit-linear-gradient(left, rgba(62,39,35,0.7) 0%, rgba(41,35,34,0.7) 100%);
    background: -o-linear-gradient(left, rgba(62,39,35,0.7) 0%, rgba(41,35,34,0.7) 100%);
    background: -ms-linear-gradient(left, rgba(62,39,35,0.7) 0%, rgba(41,35,34,0.7) 100%);
    background: linear-gradient(to right, rgba(62,39,35,0.7) 0%, rgba(41,35,34,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e2723', endColorstr='#292322', GradientType=1 );
}
.landing-wrapper .landing-header .landing-header-content {
    width: 90%;
    padding-top: 17px;
}
.landing-wrapper .landing-header .landing-header-content img {
    display: inline-block;
    margin-top: -7px; }
.landing-wrapper .landing-header .landing-header-content ul li {
    color: white;
}
.landing-wrapper .landing-header .landing-header-content ul li a {
    text-decoration: none;
    padding: 12px 10px;
    color: #ffffff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; 
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;}
.landing-wrapper .landing-header .landing-header-content ul li a:hover {
    background-color: #ffffff;
    color: #292322; }
@media (max-width: 64em) {
    .landing-wrapper .landing-header .landing-header-content {
        width: 100%;
        padding: 17px 20px 0 20px; 
    }

    .landing-wrapper .landing-header .landing-header-content ul {
        float: none;
        position: fixed;
        top: 56px;
        right: 0px;
        background: rgba(62,39,35,0.7);
        background: -moz-linear-gradient(left, rgba(62,39,35,0.7) 0%, rgba(41,35,34,0.7) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(62,39,35,0.7)), color-stop(100%, rgba(41,35,34,0.7)));
        background: -webkit-linear-gradient(left, rgba(62,39,35,0.7) 0%, rgba(41,35,34,0.7) 100%);
        background: -o-linear-gradient(left, rgba(62,39,35,0.7) 0%, rgba(41,35,34,0.7) 100%);
        background: -ms-linear-gradient(left, rgba(62,39,35,0.7) 0%, rgba(41,35,34,0.7) 100%);
        background: linear-gradient(to right, rgba(62,39,35,0.7) 0%, rgba(41,35,34,0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e2723', endColorstr='#292322', GradientType=1 );
        display: none;
        margin: 0; 
    }
}
@media (max-width: 64em) {
    .landing-wrapper #introduction .introduction-content .subsubtitle {
        padding-bottom: 30px;
        font-size: 12px;
        position: absolute;
        display: block; }}
@media (min-width: 64em) {
    .landing-wrapper #introduction .introduction-content .subsubtitle {
        font-size: 12px;
        position: absolute;
        top: 310px;}}
/*Brown Button*/
.ui-button.ui-state-default.brown-button {
    background-color: #3e2723;
    border-color: #9c1627;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out; }
.ui-button.ui-state-default.brown-button.ui-state-hover {
    background-color: #d2524f; }
.ui-button.ui-state-default.brown-button.ui-state-active {
    background-color: #9c1627; }
/*topbar color*/
.wrapper .topbar {
    background-color: #3e2723;
}
/*sidebar color*/
.wrapper .sidebar {
    background-color: #8d6e63;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8d6e63), to(#1f2023));
    background-image: -webkit-linear-gradient(top, #8d6e63, #1f2023);
    background-image: -moz-linear-gradient(top, #8d6e63, #1f2023);
    background-image: -ms-linear-gradient(top, #8d6e63, #1f2023);
    background-image: -o-linear-gradient(top, #8d6e63, #1f2023);
    background-image: linear-gradient(top, #8d6e63, #1f2023);
    filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#8d6e63', end-colourStr='#1f2023'); 
}
/*menu colour*/
.wrapper .sidebar ul li.active-menuitem > a {
    border-bottom: 0 none;
    background-color: #3e2723;
    color: white; 
}
.wrapper .sidebar ul li.active-menuitem > ul {
    background-color: #3e2723; 
}
.landing-wrapper #pricing {
    background-color: #aed581; }
.landing-wrapper #pricing .pricing-content p {
    color: #000000; 
    text-align: justify;
}
.landing-wrapper #pricing .pricing-content > p {
    font-size: 14px; }
#addsongform .ui-fileupload-buttonbar .ui-button {
    background-color: #3e2723;
    border-color: #3e2723;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out; 
}

#addsongform .ui-fileupload-buttonbar .ui-button:hover {
    background-color: black;
    border-color: black;

}
#addsongform .ui-panelgrid .ui-panelgrid-cell label {
    font-size: 18px;
}


q {
    font-size: 18px;
}
.inline-hyperlink {

    border-style: solid;
    border-color: rgba(7,38,35,0.2);
    border-width: 1px 1px 1px 1px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    color: black;
    background-color: rgba(179,172,179,0.1);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}
.inline-hyperlink:hover {
    background-color: rgba(179,172,179,1);
    border-color: rgba(179,172,179,0.1);

}
.btn-large {
    text-transform: none;
}
.btn {
    text-transform: none;
}
.tag-cloud-link {
    color: #004080;
    text-decoration: none;
    border-style: solid;
    border-color:  rgba(38,50,56,0);
    border-width: 1px;
    border-radius: 3px 3px 3px 3px;
    -webkit-transition: 0.9s ease-out;
    -moz-transition: 0.9s ease-out;
    -o-transition: 0.9s ease-out;
    transition: 0.9s ease-out;
    -webkit-transition: 0.9s ease-in;
    -moz-transition: 0.9s ease-in;
    -o-transition: 0.9s ease-in;
    transition: 0.9s ease-in;  
    padding: 0.3%;
}
.tag-cloud-link:hover {
    color: white;
    background-color: rgba(38,50,56,1);
    border-color:  rgba(38,50,56,1);
}
.method-list li {
    border-style: solid;
    border-color: #3e2723;
    border-width: 1px;
    border-radius: 3px 3px 3px 3px;
    margin: 5px;
    padding: 1%;
}
.method-list-hr {
    color: black;
}
.method-list-action {
    border-style: solid;
    border-color: #3e2723;
    border-width: 1px;
    border-radius: 3px 3px 3px 3px;
    margin: 5px;
    padding: 1%;
}
.author {
    text-align: right;
    font-size: 18px;
}
#register-wrapper {
    width: 400px;
    margin: 0 auto;
    text-align: center; 
}
#register-wrapper #register-container {
    margin-top: 20px;
    box-sizing: border-box;
    min-height: 200px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 2em;
    text-align: center;
    color: #4f575b; 
}